<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-title>
        Menu principal
      </ion-title>
      <ion-list>
        <ion-item>
          <ion-avatar class="logo" slot="start">
            <img routerlink='/tabs/tab3' src="https://image.flaticon.com/icons/png/512/44/44948.png">
          </ion-avatar>
        </ion-item>
      </ion-list>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  </ion-card>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  
 
  <div class="buttons" align="center">
    <ion-button align="center" [routerLink] = "['/buscar-amigos']"  color="dark" style="max-width: auto; width: 220px;" ion-button icon-right  expand="round"> 
      Buscar amigos  
      <br>                  
      <ion-icon name="search-outline"></ion-icon>
    </ion-button>

    <ion-button align="center" [routerLink] = "['/agregar-amigos']" color="dark" style="max-width: auto; width: 220px;" ion-button icon-right expand="round">
      Agregar amigos
      <br>
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-button>

    <ion-button align="center" [routerLink] = "['/favoritos']" color="dark" style="max-width: auto; width: 220px;" ion-button icon-right expand="round">
      Favoritos
      <br>
      <ion-icon name="star-outline"></ion-icon>
    </ion-button>

    <ion-button align="center" [routerLink] = "['/listado-amigos']" color="dark" style="max-width: auto; width: 220px;" ion-button icon-right expand="round">
      Listado de amigos
      <ion-icon name="people-circle-outline"></ion-icon>
    </ion-button>
  </div>



  


</ion-content>
