ion-content ion-toolbar {
  --background: translucent;
}
ion-content{
  --background: url(https://www.publicdomainpictures.net/pictures/280000/nahled/teal-background-color-retro.jpg) 0 0/100% 100% no-repeat;
}

.logo{
    right: 0px;
  }
.buttons{
    margin-top: 25%;
}

