<ion-header>
  
  <ion-toolbar>

    <ion-title align='center'>
      <img src="assets/images/Logo.jpg" alt="placeholder" height="70">  
    </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content style="background-image: url('Fondo.PNG');">
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">SOCLOSE APP</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content padding align="center">
    <form #form="ngForm" (ngSubmit)="login(form)" method="post" align="center">
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input ngModel type="email" name="email"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input ngModel type="password" name="password"></ion-input>
      </ion-item>
      <ion-button type="submit" expand="full" color="primary">Iniciar sesión</ion-button>
    </form>
    <br>
    <font face="Comic Sans MS,arial,verdana" size="1">¡AUN PUEDES ESTAR SOCLOSE!</font>
    <ion-button  expand="full" color="danger" (click)="registerModal()">Registrarse</ion-button>
    <br>
    <table align="center">
      <tr>
        <th>
          <ion-avatar > 
            <img src="assets/images/Facebook.png" alt="placeholder" height="70">
          </ion-avatar>
        </th>
        <th>
          <ion-avatar>
            <img src="assets/images/google.png" alt="placeholder" height="70">
          </ion-avatar>
        </th>
        <th>
          <ion-avatar> 
            <img src="assets/images/instagram.png" alt="placeholder" height="70">
          </ion-avatar>
        </th>
      </tr>    
    </table> 
</ion-content>
