<ion-header>
  <ion-toolbar>

    <ion-title align='center'>
      <ion-button expand="full" color="dark" routerLink='/login'>Iniciar sesión</ion-button>
      <ion-button  expand="full" color="dark" routerLink='/register'>Registrate</ion-button>
    </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content padding class="background">
     
</ion-content>
