<ion-header>
  <ion-toolbar>
    <ion-title>
      Configuración
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Configuración</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 3 page"></app-explore-container>

  <!--Usuario -->
  <ion-item>
    <ion-avatar slot="start">
      <ion-img src="../../assets/images/incognitoImagw.jpg" alt="placeholder" height="30"></ion-img>
    </ion-avatar>
    <ion-label>
      <h2>Nombre Usuario</h2>
      <h3>Información</h3>
      <p>Estado</p>
    </ion-label>
  </ion-item>

  

  <ion-list>

    <ion-item>
      <ion-label>Perfil</ion-label>
      <ion-button color="medium">Ver Perfil</ion-button>
    </ion-item>

    <ion-item>
      <ion-label>Compartir</ion-label>
      <ion-button color="medium" (click)="presentActionSheet()"> Redes Sociales </ion-button>
    </ion-item>

    <ion-item>
      <ion-label>Wifi</ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Bluetooth</ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Activar GPS</ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Activar Notificaciones</ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>       </ion-label>
      <ion-button style="text-align: right" color="medium" [routerLink] = "['/tabs/tab2']" > Volver al Menu </ion-button>
    </ion-item>

  </ion-list>


</ion-content>