<ion-header>
  <ion-toolbar height="30">
    <table align="center">
<tr>
<th>
  <ion-img src="../../assets/images/Logo.PNG" alt="placeholder" height="30"></ion-img>
</th>
</tr>
    </table>
  </ion-toolbar>
</ion-header>

<ion-content color="light" padding>
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
         <div padding>
            <ion-item>
              <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button color="medium" size="large" type="submit" [disabled]="form.invalid" expand="block">Iniciar sesión</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>
